# Code
asyncpg>=0.22.0
aiofiles>=0.6.0, <0.7.0
fastapi>=0.65.1
gunicorn>=20.1.0
python-jose[cryptography]>=3.2.0
uvicorn[standard]
ujson>=4.0.2

# Testing
pytest>=6.2.2
pytest-asyncio>=0.14.0
pytest-cov>=2.11.1
